@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Josefin Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Barre de navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    border: 2px solid transparent;
    color: white;
    background-color: #222;
}

.Catégories{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 2rem;
}

.Catégories p{
    margin-top: 1rem;
}
.Catégories a{
    color: white;
}

.C{
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#ACC{
    color: #f63e4e;
    font-weight: bold;
}

.Catégories input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}
/* Fin de la barre de navigation */


 #title{
     display: flex;
    justify-content: center;
    font-size: 4rem;
    border: 4px solid transparent;
    border-radius: 100px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    background-color: white;

 }
/* Section catégories */

h2{
    text-align: center;
    position: relative;
    top: 2rem;
    font-size: 3rem;

}

.row{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.col-2{
    width: 400px;
    height: 400px;
}

.col-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative;
    top:2rem;
}
/* Fin de la section catégories */


/* Section Meilleurs produits */
.produits{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding:1rem;
    margin: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    background-color: white;
    
}

#S{
    margin-top: 10%;
    margin-bottom: 7%;
}

.P img{
    background-image: linear-gradient(white);
}

.P a{
    text-decoration: none;
    font-style: italic;
    color: #000;
}

.produits p{
    color: red;
    font-weight: bold;
}
/* Fin de la section meilleurs produits*/

body{
    background-color: white;
}

/* Section Footer*/

footer{
    background-color: #222;
    color: #fff;
    padding: 2rem;
    margin-top: 4rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section{
    flex: 1;
    min-width: 250px;
    margin: 1rem;

}

.footer-section h3{
    font-size: 1,5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section p{
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.6;
}

.paiement-logo{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.paiement-logo img{
    width: 15%;
    height: auto;
    margin-left: 5rem ;
}

.footer-bottom{
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: #bbb;
}

#M{
    margin-left: 5rem;
}
#P p{
    margin-left: 5rem;
}



/* Fin de la section footer*/


/* Mobile */
@media screen and (max-width: 768px){

    .Catégories {
        flex-direction: row;
        padding: 0.7rem;
    }

    .C {
        margin: 5px 0;
        font-size: 1rem;
        padding: 1rem;
    }

    .Catégories input {
        width: 80%;
        margin: 1rem 0;
        padding: 1rem;
    }

    #title{
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem;
     }

     h2{
        font-size: 2rem;
     }

     .row {
        flex-direction: column;
        align-items: center;
    }

    .col-2 {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .col-2 img {
        max-width: 100%;
        margin-bottom: 1rem;
        margin: 0 auto;
    }

    .P img{
        max-width: 100%;
        height: auto;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container h3{
        font-size: 1rem;
    }

    .footer-section p{
        font-size: 13px;
    }

    .paiement-logo {
        justify-content: center;
        width:70% ;
    }

    #M, #P p {
        margin-left: 0;
    }

    #S{
    margin-bottom: 4rem;
    }
}

/* tablette */
@media screen and (min-width: 769px) and (max-width: 1024px){

    .Catégories {
        flex-direction: row;
        padding: 0.7rem;
    }

    .C {
        margin: 5px 0;
        font-size: 1rem;
        padding: 1rem;
    }

    .Catégories input {
        width: 80%;
        margin: 1rem 0;
        padding: 1rem;
    }

    #title{
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem;
     }

     h2{
        font-size: 2rem;
     }

     .row {
        flex-direction: column;
        align-items: center;
    }

    .col-2 {
        width: 50%;
        height: auto;
    }

    .col-2 img {
        max-width: 100%;
        margin-bottom: 1rem;
        margin: 2rem;
    }

    .produits {
        display: grid;
        grid-template-columns: 1fr;
    }

    .P img{
        max-width: 100%;
        margin-top: 2rem;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container h3{
        font-size: 1rem;
    }

    .footer-section p{
        font-size: 13px;
    }

    .paiement-logo {
        justify-content: center;
        width:70% ;
    }

    #M, #P p {
        margin-left: 0;
    }

    #S{
    margin-bottom: 4rem;
    }
}






    





