@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    border: 2px solid transparent;
    color: white;
    background-color: #222;
}

.Catégories{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 2rem;
}

.Catégories p{
    margin-top: 1rem;
}
.Catégories a{
    color: white;
}

.C{
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#S{
    color: #f63e4e;
    font-weight: bold;
}



.Catégories input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
}

.header {
    background-color: #AB550A;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    color: white;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header p {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.images {
    display: flex;
    gap: 1rem;
    margin-bottom: 6rem;
    justify-content: space-around;
}

.images img {
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s;
    padding: 2rem;
}

.images img:hover {
    transform: scale(1.05);
    
}

.caractéristiques {
    margin-bottom: 1rem;
}

.caractéristiques h3 {
    margin-bottom: 1rem;
    font-size: 25px;
}

.caractéristiques p{
     margin: 1rem;
     font-size: 2rem;
     font-weight: bold;
     color: red;
}


.ul{
    font-size: 18px;
    display:flex;
}

.ul ul{
     justify-content: space-between;
    list-style-type: disc;
    list-style-position: inside;
    padding: 2rem;
}

.ul ul li{
    margin: 8px;
}


.boiteachat {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.boiteachat input[type="number"] {
    width: 5%;
    padding: 5px;
}

.boiteachat button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.boiteachat button:hover {
    background-color: red;
}

.recommended {
    margin-top: 4rem;
}

.recommended h2 {
    margin-bottom: 2rem;
    color: green;
}

.produits{
    display: flex;
    gap: 2rem;
}

.produits a{
    font-style: italic;
    color: black;
    text-decoration: none;
}

.produits-image{
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.produits-image img {
    width: 45%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.produits-image p{
    font-weight: bold;
    font-size: 1rem;
}

footer{
    background-color: #222;
    color: #fff;
    padding: 2rem;
    margin-top: 4rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section{
    flex: 1;
    min-width: 250px;
    margin: 1rem;

}

.footer-section h3{
    font-size: 1,5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section p{
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.6;
}

.paiement-logo{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.paiement-logo img{
    width: 15%;
    height: auto;
    margin-left: 5rem ;
}

.footer-bottom{
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: #bbb;
}

#M{
    margin-left: 5rem;
}
#P p{
    margin-left: 5rem;
}

*{
    margin: 0;
}

/* Mobile */

@media screen and (max-width: 768px) {

    .Catégories {
        flex-direction: row;
        padding: 0.7rem;
    }

    .C {
        margin: 5px 0;
        font-size: 1rem;
        padding: 1rem;
    }

    .Catégories input {
        width: 80%;
        margin: 1rem 0;
        padding: 1rem;
    }

    .container {
        width: 90%;
        margin: 1rem auto;
    }

    .header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .header p {
        font-size: 1rem;
        text-align: center;
    }

    .images {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
    }

    .images img {
        width: 50%;
        padding: 1rem;
    }

    .caractéristiques h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 4rem;
    }

    .caractéristiques p {
        font-size: 1.5rem;
        text-align: center;
    }

    .ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .ul ul {
        padding: 1rem;
    }

    .boiteachat {
        gap: 0.5rem;
        align-items: stretch;
    }

    .boiteachat input[type="number"] {
        width: 100%;
    }

    .boiteachat button {
        width: 100%;
    }

    .produits {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .produits-image {
        width: 50%;
        padding: 1rem;
    }

    .produits-image img {
        width: 80%;
    }

    .produits-image p {
        font-size: 1rem;
    }

    .recommended h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container h3 {
        font-size: 1rem;
    }

    .footer-section p {
        font-size: 13px;
    }

    .paiement-logo {
        justify-content: center;
        width: 70%;
    }

    #M,
    #P p {
        margin-left: 0;
    }

}


/*Tablette*/

@media screen and (min-width: 769px) and (max-width: 1024px) {


    .Catégories {
        flex-direction: row;
        padding: 0.7rem;
    }

    .C {
        margin: 5px 0;
        font-size: 1rem;
        padding: 1rem;
    }

    .Catégories input {
        width: 80%;
        margin: 1rem 0;
        padding: 1rem;
    }

    .container {
        max-width: 90%;
        margin-top: 1.5rem;
    }

    .header {
        padding: 0.8rem;
        border-radius: 8px;
        margin-bottom: 1.5rem;
    }

    .header h1 {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }

    .header p {
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
    }

    .images {
        flex-wrap: wrap;
        gap: 0.8rem;
        margin-bottom: 4rem;
        justify-content: center;
    }

    .images img {
        width: 35%;
        padding: 1rem;
    }

    .caractéristiques h3 {
        font-size: 22px;
    }

    .caractéristiques p {
        font-size: 1.5rem;
    }

    .ul {
        font-size: 16px;
        display: block;
    }

    .ul ul {
        padding: 1rem;
    }

    .ul ul li {
        margin: 6px 0;
    }

    .boiteachat {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .boiteachat input[type="number"] {
        width: 30%;
        padding: 4px;
    }

    .boiteachat button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .recommended {
        margin-top: 2rem;
    }

    .recommended h2 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .produits {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .produits-image {
        flex: 40%;
        margin-bottom: 1rem;
    }

    .produits-image img {
        width: 50%;
    }

    .produits-image p {
        font-size: 0.9rem;
    }


    .footer-container {
        flex-direction: column;
    }

    .footer-container h3 {
        font-size: 1rem;
    }

    .footer-section p {
        font-size: 13px;
    }

    .paiement-logo {
        justify-content: center;
        width: 70%;
    }

    #M,
    #P p {
        margin-left: 0;
    }

}